<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sentences</title>
  </head>
  <body>
  <ul>
      <li><% @sentences_to_be_displayed.each do |sentence|%></li>
        <p>Number of Words</p>
        <li><%= sentence.number_of_words %></li>

          <p>Number of Letters</p>
        <li><%= sentence.number_of_letters %></li>

          <p>Number of Symbols</p>
        <li><%= sentence.number_of_symbols %></li>

          <p>Top three common words</p>
        <li><%= sentence.top_three_common_words %></li>

          <p>Top Three Common Letters</p>
        <li><%= sentence.top_three_common_letters %></li>

         <p>Words Used Only Once</p>
        <li><%= sentence.number_of_words_only_used_once %></li>

         <p>Letters Not Used in Sentence</p>
        <li><%= sentence.letters_not_used_in_sentence %></li>

      <li><% end %></li>
    </ul>
    <a href = "http://localhost:9393/new-sentence">Make a new entry</a>
    <script src= "../public/application.js" type="text/javascript"></script>
  </body>
</html>
